body {
  background-color: #eff5f8
}

.timer {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

.gameOver {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

.wrong {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

.correct {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

.buttonContainer {
  display: block;
  margin: 20px auto;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60vw;
  background-color: #f0ead6;
}


button {
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  font-size: 24px;
  background-color: #247BA0;
  color: white;
}

.hidden {display:none}